<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Tensorsoft, Inc</string>
	<key>Builder Version</key>
	<string>9537.73.11</string>
	<key>CFBundleDisplayName</key>
	<string>MRU Tabs</string>
	<key>CFBundleIdentifier</key>
	<string>com.tensorsoft.tabber</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>unreadTabsMenu</string>
				<key>Menu Items</key>
				<array/>
			</dict>
		</array>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>tabpop.html</string>
				<key>Identifier</key>
				<string>tabPop</string>
				<key>Width</key>
				<real>220</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>unreadTabs</string>
				<key>Image</key>
				<string>toolbar.png</string>
				<key>Label</key>
				<string>Most Recent Tabs</string>
				<key>Menu</key>
				<string></string>
				<key>Popover</key>
				<string>tabPop</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>tabber.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Switch to previous tabs in most recently used order with Ctrl+`</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.tensorsoft.com</string>
</dict>
</plist>
